<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source = ISII555;Database = SchoolBusDb; Integrated Security = True; Connect Timeout = 30; Encrypt = False; Trust Server Certificate = False; Application Intent = ReadWrite; Multi Subnet Failover = False" name="ConStr"/>
	</connectionStrings>
</configuration>